###############################################################   APP ENVIRONMENT VARIABLES   ###############################################################


##############################
#    DJANGO BASE SETTINGS    #
##############################
DEBUG=True
DJANGO_SETTINGS_MODULE="config.settings.development"
DJANGO_SECRET_KEY="abcdefghijklmnopqrstuvwxyz"
ENABLE_SILK="False"
ENABLE_DOCS="False"
ENABLE_TRACING="False"


#############################
#        DATABASES          #
#############################
POSTGRES_DB_NAME=vocabbe
POSTGRES_DB_USER=user
POSTGRES_DB_PASSWORD=12345
POSTGRES_DB_HOST=localhost
POSTGRES_DB_PORT=5432
POSTGRES_DB_SSL_ENABLED=False


#############################
#          AWS CREDS        #
#############################
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_S3_REGION_NAME=ap-south-1
AWS_S3_BUCKET=schoolfirst-production
AWS_S3_ENDPOINT_URL=https://s3.ap-south-1.amazonaws.com/
AWS_S3_USE_SSL=True
AWS_QUERYSTRING_AUTH=False

##############################
#      EMAIL SETTINGS        #
##############################
EMAIL_HOST="smtp.example.com"
EMAIL_PORT=587
EMAIL_HOST_USER="support@example.com"
EMAIL_HOST_PASSWORD="Example@123"


#################################
#       JWT AUTH SETTINGS       #
#################################
ACCESS_TOKEN_LIFETIME_IN_MINUTES=15
REFRESH_TOKEN_LIFETIME_IN_DAYS=7


##############################
#     SELF INSTANCE INFO     #
##############################
HOST="http://127.0.0.1:8000"
TOKEN="abcdefghijklmnopqrstuvwxyz"


###############################################################   DEPLOYMENT ENVIRONMENT VARIABLES   ###############################################################


#############################
#    DEPLOYMENT SETTINGS    #
#############################
PORT=8000

GUNICORN_WORKERS=2
GUNICORN_THREADS_PER_WORKER=8

PROJECT_ROOT_DIR=/project
LOG_DIR=/logs

DEPLOYMENT_MODE=FULL

CONTAINER_NAME=vocabbe-backend